/* Behind card component */
body{
    background-color: hsl(233, 47%, 7%);
    color:white;
    font-size: 15px;
    text-align: center;
}

/* Main heading */
h1{
    color:white;
    opacity: 0.75;
}

/* Stat headings */
h2{
    color:white;
    opacity: 0.6;
}

@import url(https://fonts.google.com/specimen/Inter);

@import url(https://fonts.google.com/specimen/Lexend+Deca);

